---
import Layout from "../layouts/Layout.astro";
import TabsAgregar from "../components/TabsAgregar.tsx";
import FormIngreso from "../components/FormIngreso.tsx";
---

<Layout>
    <section class="flex justify-center">
        <TabsAgregar client:visible />
    </section>
</Layout>
