---
import { CalendarOfCalendar } from "@/components/CalendarOfCalendar";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="flex justify-center items-center mt-5">
        <CalendarOfCalendar client:load />
    </section>
</Layout>
