---
import Layout from "../layouts/Layout.astro";
import Chart from "../components/Chart.astro";
import SectionOfPresupuestos from "../components/SectionOfPresupuestos.astro";
import { Plus } from "@lucide/astro";
import { Button } from "@/components/ui/button";
---

<Layout>
    <header>
        <h1 class="font-bold text-white text-2xl pl-4 py-2">Presupuestos</h1>
    </header>
    <section class="grid grid-cols-2 justify-items-center gap-1 mt-3">
        <Chart
            title="Total Bolivares"
            content="BS.1200"
            className="bg-[#2d80316b] text-green-200 text-left  rounded-xl pl-5 p-2  w-[90%]"
        />
        <Chart
            title="Total Dolares"
            content="$200"
            className="bg-[#2d80316b] text-green-200 pl-5 p-2  w-[90%] rounded-xl "
        />
    </section>
    <h2 class="font-bold text-white text-2xl py-2 pl-4 mt-4">
        Mis presupuestos
    </h2>
    <SectionOfPresupuestos server:defer>
        <div slot="fallback">Cargando...</div>
    </SectionOfPresupuestos>
    <section class="fixed bottom-30 left-0 right-0 flex justify-center mt-5">
        <Button className="w-[95%] bg-azulOscuroApp text-white">
            <Plus color="white" /> Crear Presupuesto</Button
        >
    </section>
</Layout>
