---
import Layout from "../layouts/Layout.astro";
import Chart from "../components/Chart.astro"
import SectionOfPresupuestos from "../components/SectionOfPresupuestos.astro"
import { Plus } from "@lucide/astro";
import { Button } from "@/components/ui/button";
---

<Layout>
    <header>
        <h1 class="font-bold text-white text-4xl pl-4 py-2">Presupuestos</h1>
    </header>
    <section class='grid grid-cols-2 justify-items-center gap-1 mt-5'>
        <Chart
        title="TOTAL BOLIVARES"
        content="BS.1200"
        className='bg-[#2d8031e3] text-white text-left shadow-sm rounded-xl pl-3 pr-2 py-5'  
        />
        <Chart
    
        title="TOTAL DOLARES"
        content="$200"
        className="bg-[#2d8031e3] text-white w-max shadow-sm rounded-xl pl-3 pr-2 py-5"
        />
    </section>
    <h2 class="font-bold text-white text-2xl py-2 pl-4 mt-4">Mis presupuestos</h2>
    <SectionOfPresupuestos server:defer>
        <div slot="fallback">
            Cargando...
        </div>
    </SectionOfPresupuestos>
    <section class="fixed bottom-25 left-0 right-0 flex justify-center mt-5">
        <Button className="w-[95%] bg-[#090d2b] text-white"> <Plus color="white"/> Crear Presupuesto</Button>
    </section>
</Layout>
