---
import clsx from "clsx";
const { title, content, className } = Astro.props;
---

<div class={className}>
    <h2 class="text-[0.8rem]">{title}</h2>
    <p class="font-bold text-[1rem]">{content}</p>
</div>
