---
import {
    CircleUser,
    LucideSeparatorHorizontal,
    Minus,
    Plus,
    SeparatorHorizontal,
} from "@lucide/astro";

import { Button } from "./ui/button";
import Chart from "./Chart.astro";
// import {} from ''
import "../styles/global.css";
import UltimasTransacciones from "./UltimasTransacciones.astro";
import { ChartDemo } from "./ChartDemo.tsx";
---

<div class="mb-20 sm:rounded-lg sm:shadow-lg sm:p-4">
    <main>
        <header class="flex items-center gap-3 px-3 py-2">
            <div><CircleUser size={35} color="white" /></div>
            <h1 class="font-bold text-lg py-2 text-white">Hola Marcos</h1>
        </header>

        <section
            class="grid grid-cols-2 mt-2 justify-items-center items-center"
        >
            <Chart
                title="Tasa Paralelo"
                content="BS.3.54"
                className="bg-[#a530304a] text-red-200 text-left shadow-sm rounded-2xl pl-5 p-2  w-[90%]"
            />

            <Chart
                title="Tasa BCV"
                content="BS.3.54"
                className="bg-[#2d80316b]  text-green-200 shadow-sm rounded-2xl pl-5 p-2 w-[90%] "
            />
        </section>
        <section class="flex mt-5 w-full justify-center px-2">
            <ChartDemo client:load />
        </section>

        <section
            class="grid grid-cols-2 mt-5 justify-items-center items-center"
        >
            <Button className="bg-[#2d80316b] text-green-200 p-5 text-sm ">
                <Plus
                    style={{
                        width: "30px",
                        height: "25px",
                    }}
                    class="rounded-full"
                    color="#b9f8cf"
                    stroke-width={2}
                    size={30}
                /> Añadir Ingreso
            </Button>
            <Button className="bg-[#a530304a] text-red-200 p-5 text-sm">
                <Minus
                    style={{
                        width: "24px",
                        height: "25px",
                    }}
                    class="rounded-full"
                    color="oklch(88.5% 0.062 18.334)"
                    size={20}
                /> Añadir Gasto
            </Button>
        </section>
        <section class="mt-5 px-2 pb-4">
            <UltimasTransacciones />
        </section>
    </main>
</div>
