---
import {
    Calendar,
    CalendarDays,
    CreditCard,
    House,
    Plus,
    Wallet,
} from "@lucide/astro";
---

<nav
    class="fixed bottom-0 left-0 right-0 flex items-center justify-center bg-[#132233] text-white rounded-sm border-t border-[#101333] px-2 py-5"
>
    <ul class="flex justify-between w-full">
        <li class->
            <a href="/" class="flex flex-col justify-center items-center pl-3"
                ><House color="white"/> Inicio</a
            >
        </li>
        <li>
            <a
                href="/Presupuesto"
                class="flex flex-col justify-center items-center pl-3"
                ><CreditCard color="white"/> Presup</a
            >
        </li>
        <li>
            <a href="/Agregar" class="flex flex-col justify-center items-center pl-3"
                ><Plus size={50} />
            </a>
        </li>
        <li>
            <a href="/" class="flex flex-col justify-center items-center"
                ><CalendarDays /> Calendario</a
            >
        </li>
        <li>
            <a href="/" class="flex flex-col justify-center items-center"
                ><Wallet /> Totales</a
            >
        </li>
    </ul>
</nav>
