---
import { CardPresupuesto } from "@/components/CardPresupuesto";
---

<section class="flex justify-center mt-2">
    <CardPresupuesto
        client:visible
        title="Gastos"
        className="w-[90%] bg-azulOscuroApp border-azulOscuroApp text-white"
    />
</section>
