---
import { CardPresupuesto } from "@/components/CardPresupuesto";

---

<section class="flex justify-center mt-2">
    <CardPresupuesto client:visible title="Gastos" className="w-[90%] bg-[#090d2b] border-[#090d2b] text-white" />
</section>
