---
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";
---
<Card className="bg-[#090d2b] border-[#090d2b]">
    <CardHeader>
        <CardTitle className="text-xl text-white font-bold">
            Últimas Transacciones
        </CardTitle>
        <hr />
    </CardHeader>
    <CardContent>
        <ul>
            <li>
                <div class="flex justify-between">
                    <div>
                        <p class="font-bold text-white text-lg">
                            Supermercado
                        </p>
                        <p class="text-sm text-gray-500">
                            21 de abr
                        </p>
                    </div>
                    <p class="font-bold text-white text-lg">-100</p>
                </div>
            </li>
            
        </ul>
    </CardContent>
</Card>