---
import NavBar from "@/components/NavBar.astro";
import { ClientRouter } from "astro:transitions";

import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#132233" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="manifest" href="/manifest.json" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta
			name="apple-mobile-web-app-status-bar-style"
			content="black-translucent"
		/>
		<title>HB Finances</title>
		<ClientRouter/>
		<script>
			if ("serviceWorker" in navigator) {
				navigator.serviceWorker.register("/sw.js");
			}
		</script>
	</head>
	<body class="container bg-[#132233] sm:mx-auto sm:max-w-screen-md sm:p-2">
		<slot />
		<NavBar />
	</body>
</html>
